/************
GLOBAL FONT
************/
html,
button {
  font-optical-sizing: auto;
  font-family: "Sora", sans-serif;
}

/***************
VARIOUS STYLES
***************/
li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}
