/***********
FONT SIZES
***********/
h1 {
  color: black;
  font-size: 3rem;
  font-weight: 500;
}

#about-us,
#social,
#news,
#links {
  font-size: 5rem;
}

h2,
h3 {
  font-weight: 500;
}

/************
FONTS COLOR
************/
.title-color,
#about-us,
#links {
  background: linear-gradient(90deg, #002fff, #00e1ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/**********
UPPERCASE
**********/
.uppercase {
  text-transform: uppercase;
}
