/***********
FONT SIZES
***********/
h1 {
  font-size: 7rem;
  font-weight: 600;
  background: linear-gradient(90deg, #0077FF, #5cd20d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h2, h3 {
  font-weight: 500;
}

/**********
UPPERCASE
**********/
.uppercase {
  text-transform: uppercase;
}