/********
DISPLAY
********/
.d-flex {
    display: flex;
}

/************
BACKGROUND
************/
.nav-bg-blue {
    background-color: rgba(0, 119, 255, 1);
}

.bg-blue {
    background-color: rgba(0, 119, 255, 1);
}