/********
DISPLAY
********/
.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 20px;
}

/************
BACKGROUND
************/
.gradient-color {
    background-image: linear-gradient(90deg, #0077FF, #5cd20d);
}

.gradient-color-subscribe {
    background-image: linear-gradient(90deg, #0077FF, #5cd20d);

}

.transparent {
    color: transparent;
}

/*******
BUTTON
*******/
button {
    transition: color 0.5s ease-in-out;
}

/********
OVERLAY
********/
.overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}